MONGO_USER=root
MONGO_PASSWORD=12345678
MONGO_HOST=152.78.17.144
MONGO_PORT=27017
#MONGO_PORT=27018 (using docker, host 27018 → container 27017.)

#MASTER_PASSWORD=5hnd..jk4ne!kwjs?wnsmmf
#SECRET_KEY=django-insecure-e+dfmqm))kmz9k*e4dt(0=)(=uxc0z9hzmfar1-pif#1r=npin
#KAFKA_BOOTSTRAP_SERVERS=localhost:9092
#API_BASE_URL=http://152.78.17.144:8001/negotiation-api
#DJANGO_BASE_URL=http://152.78.17.144:8000

API_CONTRACT_SERVICE_URL=http://152.78.17.144:8006

OPENAI_API_KEY=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
MODEL_NAME=gpt-5-nano
#o4-mini
#gpt-5-nano
#MODEL_NAME=gpt-4o-mini